<?xml version="1.0"?>
<launch>
  <!-- send two_lwr.urdf.xml to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find velma_description)/robots/velma.urdf.xacro'" />
  
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher"/>
  <node pkg="rviz" type="rviz" name="$(anon rviz)" respawn="false" output="screen" />
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joints" >
    <param name="use_gui" value="true"/>
  </node>
</launch>
