<?xml version="1.0"?>
<launch>

  <rosparam command="load" file="$(find velma_bringup)/cfg/controllers.yaml" />
  
  <!-- Load head controller -->>
  
  <node ns="/head_controller" name="head_controller" pkg="velma_head_controller" type="head_controller">
    <rosparam>
      serial_port: can0
    </rosparam>
  </node>
  
  <node ns="/head_controller" name="head_action_server" pkg="velma_head_action" type="head_action_server" output="screen">
    <rosparam>
      success_angle_threshold: 0.1
    </rosparam>
  </node>
  
  <!-- Load hand controller -->
  <node ns="/right_hand" name="left_hand" pkg="barrett_hand_controller" type="hand" output="screen">
    <rosparam>
      serial_port: can0
    </rosparam>
  </node>
  <!-- load controllers -->
  <node name="lwr_controller" pkg="ocl" type="rttlua" launch-prefix="lxterm -hold -e" args="-i $(find velma_bringup)/cfg/deploy.lua --"/>
</launch>

