<?xml version="1.0"?>
<launch>
  <group ns="stereo">
    <group ns="left">
		  <include file="$(find velma_bringup)/launch/components/pgr_camera.launch" >
        <arg name="camera_serial" value="13201068"/>
        <arg name="frame_id" value="stereo_left_optical_frame"/>
      </include>
    </group>
      
    <group ns="right">        
      <include file="$(find velma_bringup)/launch/components/pgr_camera.launch" >
        <arg name="camera_serial" value="13201080"/>
        <arg name="frame_id" value="stereo_left_optical_frame"/>
      </include>
    </group>
    
    <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" />
  </group>
</launch>

