<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="velma_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="torso_0_joint">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['torso_0_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="left_arm_0_joint">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_arm_0_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="left_arm_1_joint">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_arm_1_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="left_arm_2_joint">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_arm_2_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="left_arm_3_joint">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_arm_3_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="left_arm_4_joint">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_arm_4_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="left_arm_5_joint">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_arm_5_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="left_arm_6_joint">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_arm_6_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="right_arm_0_joint">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_arm_0_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="right_arm_1_joint">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_arm_1_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="right_arm_2_joint">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_arm_2_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="right_arm_3_joint">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_arm_3_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="right_arm_4_joint">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_arm_4_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="right_arm_5_joint">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_arm_5_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="right_arm_6_joint">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_arm_6_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
