<?xml version="1.0"?>
<launch>
    <param name="/use_sim_time" value="false"/>

	<!-- upload robot description -->
	<include file="$(find velma_description)/launch/upload_robot.launch" />
	
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" >
      <param name="use_tf_static" value="false"/>
    </node>
	
	<node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
	  <param name="use_gui" value="true"/>
	  <param name="num_rows" value="12"/>
	</node>
	
  <node pkg="rviz" type="rviz" name="rviz" />
	
</launch>

