<?xml version="1.0"?>
<launch>
  <arg name="use_dh_compatible_model" default="false"/>

  <!-- send two_lwr.urdf.xml to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find velma_description)/robots/velma.urdf.xacro'" />

  <param
    name="/robot_description"
    command="$(find xacro)/xacro
      '$(find velma_description)/robots/velma.urdf.xacro'
      use_dh_compatible_model:=$(arg use_dh_compatible_model)"
  />

  <param name="robot_semantic_description" command="$(find xacro)/xacro.py '$(find velma_description)/robots/velma.srdf'" />
  <param name="use_tf_static" value="false"/>
</launch>
