<?xml version="1.0"?>
<!--
 * COPYRIGHT (C) 2010
 * RE2, INC.
 *
 * Author: RE2
 *
 * This file is a part of RobotModel, which was developed for the
 * DARPA ARM ROBOT Track C project.
 *
 * RobotModel is free software:
 * you can redistribute it and/or modify it under the terms of the GNU General
 * Public License as published by the Free Software Foundation, either version
 * 3 of the License, or (at your option) any later version.
 *
 * You should have received a copy of the GNU General Public License along
 * with this package.  If not, see <http://www.gnu.org/licenses/>.
 *
 * RE2, INC. disclaims all warranties with regard to this software, including
 * all implied warranties of merchantability and fitness, in no event shall
 * RE2, INC. be liable for any special, indirect or consequential damages or
 * any damages whatsoever resulting from loss of use, data or profits, whether
 * in an action of contract, negligence or other tortious action, arising out
 * of or in connection with the use or performance of this software.
-->

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="homeDirectory" value="package://velma_description" />
  <xacro:property name="PI" value="3.1415926535897931" />

  <xacro:macro name="floating_gripper_joint" params="parent">

    <link name="gripper_x"/>
    <joint name="gripper_x" type="prismatic">
      <parent link="${parent}"/>
      <child link="gripper_x"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit lower="-2.0" upper="2.0" effort="1" velocity="1"/>
    </joint>

    <link name="gripper_y"/>
    <joint name="gripper_y" type="prismatic">
      <parent link="gripper_x"/>
      <child link="gripper_y"/>
      <axis xyz="0 1 0"/>
      <limit lower="-2.0" upper="2.0" effort="1" velocity="1"/>
    </joint>

    <link name="gripper_z"/>
    <joint name="gripper_z" type="prismatic">
      <parent link="gripper_y"/>
      <child link="gripper_z"/>
      <axis xyz="0 0 1"/>
      <limit lower="-2.0" upper="2.0" effort="1" velocity="1"/>
    </joint>

    <link name="gripper_roll"/>
    <joint name="gripper_roll" type="revolute">
      <parent link="gripper_z"/>
      <child link="gripper_roll"/>
      <axis xyz="1 0 0"/>
      <limit lower="-3.14" upper="3.14" effort="1" velocity="1"/>
    </joint>

    <link name="gripper_pitch"/>
    <joint name="gripper_pitch" type="revolute">
      <parent link="gripper_roll"/>
      <child link="gripper_pitch"/>
      <axis xyz="0 1 0"/>
      <limit lower="-3.14" upper="3.14" effort="1" velocity="1"/>
    </joint>

    <link name="floating_gripper_base"/>
    <joint name="gripper_yaw" type="revolute">
      <parent link="gripper_pitch"/>
      <child link="floating_gripper_base"/>
      <axis xyz="0 0 1"/>
      <limit lower="-3.14" upper="3.14" effort="1" velocity="1"/>
    </joint>

  </xacro:macro>
</robot>
