<?xml version="1.0"?>
<robot xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
                        xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
                        xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
                        xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
	 name="velma">

  <xacro:arg name="collision_model_full" default="true"/>
  <xacro:arg name="collision_model_simplified" default="false"/>
  <xacro:arg name="collision_model_enlargement" default="0.0"/>
  <xacro:arg name="collision_model_no_hands" default="false"/>

  <xacro:include filename="$(find velma_description)/calibration/default_cal.xml"/>
  <xacro:include filename="$(find velma_description)/defs/torso.urdf.xacro"/>
  <xacro:include filename="$(find velma_description)/defs/head.urdf.xacro" />
  <xacro:include filename="$(find lwr_defs)/defs/kuka_lwr_arm_defs.xml"/>
  <xacro:include filename="$(find lwr_defs)/defs/materials.xml"/>
  <xacro:include filename="$(find barrett_hand_defs)/defs/barret_hand.urdf.xacro"/>

<!--
  <include filename="$(find velma_defs)/defs/kinect_camera.urdf.xacro" />
   -->

  <!-- Gazebo Plugin -->
  <gazebo>
    <plugin name="rtt_gazebo" filename="librtt_gazebo_deployer.so">
      <component>
        <package>velma_sim_gazebo</package>
        <type>VelmaGazebo</type>
        <name>VelmaSim</name>
      </component>
    </plugin>
  </gazebo>
  
  <property name="M_PI" value="3.1415926535897931" />
  
  <link name="world" />

  <!-- static connection between the world frame and the map frame -->
  <link name="map"/>

  <joint name="world_map_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="map"/>
  </joint>

  <velma_torso parent="world" >
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </velma_torso>

  <kuka_lwr_arm parent="torso_link0" name="right" right="1">
    <origin xyz="0 -0.000188676 1.17335" rpy="0 ${-M_PI/3} ${M_PI/2}"/>
  </kuka_lwr_arm>
  
  <kuka_lwr_arm parent="torso_link0" name="left" right="1">
    <origin xyz="${cal_torso_link2_left_arm_base_joint_x} ${cal_torso_link2_left_arm_base_joint_y} ${cal_torso_link2_left_arm_base_joint_z}" rpy="${cal_torso_link2_left_arm_base_joint_roll} ${cal_torso_link2_left_arm_base_joint_pitch} ${cal_torso_link2_left_arm_base_joint_yaw}"/>
  </kuka_lwr_arm>

  <joint name="right_gripper_mount_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="right_arm_7_link"/>
    <child link="right_gripper_mount_link"/>
  </joint>

  <link name="right_gripper_mount_link">
    <visual>
      <origin xyz="0 0 0" rpy="0.0 0 0" />
      <geometry>
        <mesh filename="package://velma_description/meshes/gripper_mount.STL" />
      </geometry>
      <material name="Orange"/>
    </visual>

    <xacro:unless value="$(arg collision_model_no_hands)">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://velma_description/meshes/collision/gripper_mount_collision.STL"/>
        </geometry>
      </collision>
    </xacro:unless>

    <self_collision_checking>
      <origin xyz="0.02 0.0 0.0" rpy="0 ${M_PI/2.0} 0"/>
      <geometry>
        <capsule radius="0.055" length="0.08"/>
      </geometry>
    </self_collision_checking>

    <inertial>
      <mass value="0.2"/>
      <origin rpy="0 0 0" xyz="0 0 0.0625"/>
      <inertia ixx="0.000520833333333" ixy="0" ixz="0" iyy="0.000520833333333" iyz="0" izz="0.000520833333333"/>
    </inertial>
  </link>

  <joint name="left_gripper_mount_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 ${M_PI}"/>
    <parent link="left_arm_7_link"/>
    <child link="left_gripper_mount_link"/>
  </joint>

  <link name="left_gripper_mount_link">
    <visual>
      <origin xyz="0 0 0" rpy="0.0 0 0" />
      <geometry>
        <mesh filename="package://velma_description/meshes/gripper_mount.STL" />
      </geometry>
      <material name="Orange"/>
    </visual>

    <xacro:unless value="$(arg collision_model_no_hands)">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://velma_description/meshes/collision/gripper_mount_collision.STL"/>
        </geometry>
      </collision>
    </xacro:unless>

    <self_collision_checking>
      <origin xyz="0.02 0.0 -0.03" rpy="0 ${M_PI/2.0} 0"/>
      <geometry>
        <capsule radius="0.055" length="0.08"/>
      </geometry>
    </self_collision_checking>

    <inertial>
      <mass value="0.2"/>
      <origin rpy="0 0 0" xyz="0 0 0.0625"/>
      <inertia ixx="0.000520833333333" ixy="0" ixz="0" iyy="0.000520833333333" iyz="0" izz="0.000520833333333"/>
    </inertial>
  </link>

  <xacro:barret_hand prefix="right" parent="right_arm_7_link">
    <origin xyz="0.115 0.0 -0.078" rpy="0 ${M_PI/2} 0"/>
  </xacro:barret_hand>

  <joint name="right_gripper_calib_joint" type="fixed">
    <origin xyz="${cal_right_gripper_calib_link_x} ${cal_right_gripper_calib_link_y} ${cal_right_gripper_calib_link_z}" rpy="0 0 0"/>
    <parent link="right_arm_7_link"/>
    <child link="right_gripper_calib_link"/>
  </joint>

  <link name="right_gripper_calib_link"/>

  <joint name="right_gripper_calib_joint1" type="fixed">
    <origin xyz="${cal_right_gripper_calib_link1_x} ${cal_right_gripper_calib_link1_y} ${cal_right_gripper_calib_link1_z}" rpy="${cal_right_gripper_calib_link1_roll} ${cal_right_gripper_calib_link1_pitch} ${cal_right_gripper_calib_link1_yaw}"/>
    <parent link="right_arm_7_link"/>
    <child link="right_gripper_calib_link1"/>
  </joint>

  <link name="right_gripper_calib_link1"/>

  <joint name="right_gripper_calib_joint2" type="fixed">
    <origin xyz="${cal_right_gripper_calib_link2_x} ${cal_right_gripper_calib_link2_y} ${cal_right_gripper_calib_link2_z}" rpy="${cal_right_gripper_calib_link2_roll} ${cal_right_gripper_calib_link2_pitch} ${cal_right_gripper_calib_link2_yaw}"/>
    <parent link="right_arm_7_link"/>
    <child link="right_gripper_calib_link2"/>
  </joint>

  <link name="right_gripper_calib_link2"/>

  <xacro:barret_hand prefix="left" parent="left_arm_7_link">
    <origin xyz="-0.115 0.0 -0.078" rpy="0 ${-M_PI/2} 0"/>
  </xacro:barret_hand>
  
  <joint name="left_gripper_calib_joint" type="fixed">
    <origin xyz="${cal_left_gripper_calib_link_x} ${cal_left_gripper_calib_link_y} ${cal_left_gripper_calib_link_z}" rpy="0 0 0"/>
    <parent link="left_arm_7_link"/>
    <child link="left_gripper_calib_link"/>
  </joint>

  <link name="left_gripper_calib_link"/>
  
  <joint name="left_gripper_calib_joint1" type="fixed">
    <origin xyz="${cal_left_gripper_calib_link1_x} ${cal_left_gripper_calib_link1_y} ${cal_left_gripper_calib_link1_z}" rpy="${cal_left_gripper_calib_link1_roll} ${cal_left_gripper_calib_link1_pitch} ${cal_left_gripper_calib_link1_yaw}"/>
    <parent link="left_arm_7_link"/>
    <child link="left_gripper_calib_link1"/>
  </joint>

  <link name="left_gripper_calib_link1"/>
  
  <joint name="left_gripper_calib_joint2" type="fixed">
    <origin xyz="${cal_left_gripper_calib_link2_x} ${cal_left_gripper_calib_link2_y} ${cal_left_gripper_calib_link2_z}" rpy="${cal_left_gripper_calib_link2_roll} ${cal_left_gripper_calib_link2_pitch} ${cal_left_gripper_calib_link2_yaw}"/>
    <parent link="left_arm_7_link"/>
    <child link="left_gripper_calib_link2"/>
  </joint>

  <link name="left_gripper_calib_link2"/>
  
  <head_camera parent="left_arm_7_link" name="left_hand_camera">
      <origin xyz="${cal_left_hand_camera_joint_x} ${cal_left_hand_camera_joint_y} ${cal_left_hand_camera_joint_z}"
              rpy="${cal_left_hand_camera_joint_roll} ${cal_left_hand_camera_joint_pitch} ${cal_left_hand_camera_joint_yaw}"/>
  </head_camera>
  
  <velma_head parent="torso_link0">
    <origin xyz="${cal_head_base_joint_x} ${cal_head_base_joint_y} ${cal_head_base_joint_z}" rpy="${cal_head_base_joint_roll} ${cal_head_base_joint_pitch} ${cal_head_base_joint_yaw}"/>
  </velma_head>

</robot>
