<?xml version="1.0"?>
<robot xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
                        xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
                        xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
                        xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
	 name="velma">

  <xacro:include filename="$(find velma_description)/calibration/default_cal.xml"/>
  <xacro:include filename="$(find velma_description)/defs/torso.urdf.xacro"/>
  <xacro:include filename="$(find velma_description)/defs/head.urdf.xacro" />
  <xacro:include filename="$(find lwr_defs)/defs/kuka_lwr_arm_defs.xml"/>
  <xacro:include filename="$(find lwr_defs)/defs/materials.xml"/>
  <xacro:include filename="$(find barrett_hand_defs)/defs/barret_hand.urdf.xacro"/>
<!--
  <include filename="$(find velma_defs)/defs/kinect_camera.urdf.xacro" />
   -->
  
  <property name="M_PI" value="3.1415926535897931" />
  
  <link name="world" />

  <velma_torso parent="world" >
    <origin xyz="0 0 0.1" rpy="0 0 0"/>
  </velma_torso>

  <kuka_lwr_arm parent="torso_link2" name="right" right="1">
    <origin xyz="0 0.1641 0.07943" rpy="${-M_PI/6} 0 0"/>
  </kuka_lwr_arm>
  
  <kuka_lwr_arm parent="torso_link2" name="left" right="1">
    <origin xyz="0 0.1641 -0.07943" rpy="${-5*M_PI/6} 0 0"/>
  </kuka_lwr_arm>

  <joint name="right_gripper_mount_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="right_arm_7_link"/>
    <child link="right_gripper_mount_link"/>
  </joint>

  <link name="right_gripper_mount_link">
    <visual>
      <origin xyz="0 0 0" rpy="0.0 0 0" />
      <geometry>
        <mesh filename="package://velma_description/meshes/gripper_mount.STL" />
      </geometry>
      <material name="Orange"/>
    </visual>
  </link>

  <joint name="left_gripper_mount_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 ${M_PI}"/>
    <parent link="left_arm_7_link"/>
    <child link="left_gripper_mount_link"/>
  </joint>

  <link name="left_gripper_mount_link">
    <visual>
      <origin xyz="0 0 0" rpy="0.0 0 0" />
      <geometry>
        <mesh filename="package://velma_description/meshes/gripper_mount.STL" />
      </geometry>
      <material name="Orange"/>
    </visual>
  </link>

  <xacro:barret_hand prefix="right" parent="right_arm_7_link">
    <origin xyz="0.115 0.0 -0.078" rpy="0 ${M_PI/2} 0"/>
  </xacro:barret_hand>

  <joint name="right_gripper_calib_joint" type="fixed">
    <origin xyz="0 0.0445 0.031" rpy="0 0 0"/>
    <parent link="right_HandPalmLink"/>
    <child link="right_gripper_calib_link"/>
  </joint>

  <link name="right_gripper_calib_link">
  </link>

  <xacro:barret_hand prefix="left" parent="left_arm_7_link">
    <origin xyz="-0.115 0.0 -0.078" rpy="0 ${-M_PI/2} 0"/>
  </xacro:barret_hand>
  
  <joint name="left_gripper_calib_joint" type="fixed">
    <origin xyz="0 0.0445 0.031" rpy="0 0 0"/>
    <parent link="left_HandPalmLink"/>
    <child link="left_gripper_calib_link"/>
  </joint>

  <link name="left_gripper_calib_link">
  </link>
  
  <velma_head parent="torso_link2">
    <origin xyz="0 0.253 0.0" rpy="${-M_PI/2} 0 0"/>
  </velma_head>

</robot>
